{{ define "title" }}
Index
{{ end }}

{{ define "body" }}
<h2>Order a new Namespace</h2>
<form action="{{ .FormAction }}" method="post">
    <fieldset>
        <label for="name">Name
            <input
                type="text"
                id="name"
                name="name"
                required
            />
        </label>
    </fieldset>
    <fieldset>
        <label for="description">Environment
            <select id="environment" name="environment">
                {{ range $key, $value := .Environments }}
                    <option value="{{ $key }}">{{ $value }}</option>
                {{ end }}
            </select>
        </label>
    </fieldset>


    <fieldset id="label">
        <legend>Add labels to namespace</legend>
        <button
            type="button"
            onclick="addLabel()"
        >Add label</button>
        <button
            type="button"
            onclick="deleteLabel()"
            class="warning"
        >Delete label</button>

    </fieldset>
    <fieldset id="egress">
        <legend>Configure egress endpoints</legend>
        <button
            type="button"
            onclick="addEgress()"
        >Add egress</button>
        <button
            type="button"
            onclick="deleteEgress()"
            class="warning"
        >Delete egress</button>
    </fieldset>

    <fieldset id="checks">
        <legend>Network checks</legend>
        <label for="enableChecks">
            <input
                type="checkbox"
                id="enableChecks"
                name="enableChecks"
                value="true"
                role="switch"
                onclick="enableCheck()" />
            Enable
        </label>
        <button
            type="button"
            onclick="addCheck()"
            disabled
        >Add check</button>
        <button
            type="button"
            onclick="deleteCheck()"
            class="warning"
            disabled
        >Delete check</button>
    </fieldset>
    <input
        type="submit"
        value="Submit"
    />
</form>

<script>
    function addLabel() {
        const fieldset = document.querySelector('fieldset#label');
        const label = document.createElement('label');
        label.innerHTML = 'Labels <input type="text" name="labels[][key]" placeholder="k8s.mpetermann.ch/placeholder" /> <input type="text" name="labels[][value]" placeholder="value" />';
        fieldset.appendChild(label);
    }
</script>
{{ end}}
